<header>
  {{ partial "site-navigation.html" . }}
  <div class="dt w-100 tc white cover hero" style="background: #7a30f5 url(/hero-bg.jpg) no-repeat top center; background-size: cover; height: calc(100vh - 103px);">
    <div class="dtc v-mid">
      <header class="white-100 center">
        <!--<img src="/hero.png" class="w-100 mw6">-->
        <div class="mw8 mt5 ph3 center">
          <h2 class="f1 f-headline-ns fw4 ttu mt0 mb2 bebas lh-solid">all you can handle<br>craft beer tasting sessions</h2>
          <h3 class="f3 f1-ns fw4 mt0 mb2 lh-solid bebas">30+ International breweries, 60+ beers/day</h3>
          <h4 class="f5 f3-ns dib ph2 mt0 mb5 pv1 fw4">18-19 JUNE 2022 – Club Expirat, Bucharest, Romania</h4>
          <div>
            <a class="f4 f2-ns grow no-underline br-pill ph5 pv3 pv4-ns mb2 dib white bg-dark-pink bebas" href="https://www.iabilet.ro/bilete-haze-fest-2022-71613/" target="_blank">Get you ticket now!</a>
          </div>
        </div>
      </header>
    </div>
  </div>
</header>