<nav class="pv4-ns pt4 ph3 ph4-ns bg-black" role="navigation">
  {{ partial "i18nlist.html" . }}
    {{ if .Site.Menus.main }}
      <div class="overflow-hidden">
        <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 tc db fl-l">
            <img src="/logo.svg" class="dib db-l" width="100" alt="{{ $.Site.Title }}" />
        </a>
        <div class="fr-l mt3-m mt1-l mt3">
          {{ partial "i18nlist.html" . }}
          {{ if .Site.Menus.main }}
            <ul class="pl0 tc mv0">
              {{ range .Site.Menus.main }}
              <li class="list f5 f4-l fw4 db dib-ns pr3-ns">
                <a class="hover-white no-underline db dib-ns white-90 pv2" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                  {{ .Name }}
                </a>
              </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    {{ end }}
</nav>
