{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="w100 center">
    <header class="center tc pv4 ph3 pv5-ns ph5-ns" style="background: #7a30f5 url(/hero-bg.jpg) no-repeat top center; background-size: cover;">
      <p class="f6 b helvetica tracked">
        {{ humanize .Section | upper  }}
      </p>
      
      {{ if .Title }}
        <h1 class="f1 f-subheadline-m f-headline-l bebas fw4 mt0 mb0 mw6 center">{{ .Title }}</h1>
      {{ end }}

      {{ if .Params.subtitle }}
        <h1 class="f4 f3-ns fw4 mw7 center">{{ .Params.subtitle }}</h1>
      {{ end }}
    </header>

    {{ if .Content }}
      <article class="center cf pv5 ph3 ph4-ns mw7">
        <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
          {{ .Content }}
        </div>
      </article>
    {{ end }}

    {{ if .Params.hasMap }}
      <div class="js-contact-map contact__map" data-place-id="ChIJEfD1x7D_sUARM5-TUGbYk2o" data-lat="44.4155219" data-lng="26.0929262" data-zoom="14"></div>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&amp;libraries=places&amp;key=AIzaSyDjqI3vXRv94I6NegKjbaLLqiFuQz5gjqY"></script>
      <script type="text/javascript" src="/app.js"></script>
    {{ end }}

    {{ if .Params.iframe }}
      <iframe class="w-100" style="height:1500px; border: none;" src="{{ .Params.iframe }}"></iframe>
    {{ end }}

    {{ if .Params.breweries }}
      <article class="center cf pv5 ph3 ph4-ns mw7">
        <ul class="cf w-100 ph0">
          {{ range sort .Params.breweries "name" }}
            
              <li class="list fl w-50 w-25-m w-20-ns ph4 pv4">
                <a class="db aspect-ratio aspect-ratio--1x1" href="{{ .url }}" title="{{ .name }}" target="_blank">
                  <img src="{{ .logo }}" alt="{{ .name }}" class="db bg-center cover aspect-ratio--object">
                </a>
              </li>
            
          {{ end }}
        </ul>
      </article>
    {{ end }}

    {{ if .Params.about }}
      <article>
        <ul class="mh0 ph0 mv0">
          {{ range $index, $element := .Params.about }}
            
              <li class="list pv4 ph5 {{if not (modBool $index 2)}}bg-purple{{end}}">
                <div class="mw7 center f4 lh-copy">
                  {{ . }}
                </div>
              </li>
            
          {{ end }}
        </ul>
      </article>
    {{ end }}

    {{ if .Params.cta }}
      <div class="tc pv5">
        <a class="f4 f3-m f2-l grow no-underline br-pill ph5 pv3 pv4-l mb2 dib white bg-dark-pink bebas" href="{{ .Params.cta.url }}" target="_blank">{{ .Params.cta.copy }}</a>
      </div>
    {{ end }}

    {{ if .Params.contact }}
      <article class="center cf pv5 ph3 ph4-ns mw7">
        <form name="contact" method="POST" data-netlify="true">
          <div class="measure center">
            <label for="name" class="f6 b db mb2">Name <span class="normal black-60"></span></label>
            <input required id="name" name="name" class="input-reset ba b--light-purple bg-light-purple pa3 mb4 db w-100" type="text">
          </div>
          <div class="measure center">
            <label for="email" class="f6 b db mb2">Email <span class="normal black-60"></span></label>
            <input required id="email" name="email" class="input-reset ba b--light-purple bg-light-purple pa3 mb4 db w-100" type="email">
          </div>
          <div class="measure center">
            <label for="phone" class="f6 b db mb2">Phone <span class="normal black-60"></span></label>
            <input required id="phone" name="phone" class="input-reset ba b--light-purple bg-light-purple pa3 mb4 db w-100" type="text">
          </div>
          <div class="measure center">
            <label for="message" class="f6 b db mb2">Message <span class="normal black-60"></span></label>
            <textarea required id="message" name="message" class="input-reset db border-box b--light-purple bg-light-purple hover-black w-100 measure ba pa3 mb2"></textarea>
          </div>
          <div class="measure center tc">
            <button type="submit" class="input-reset f6 dim ph4 pv3 mb2 dib white bg-purple b--purple db">Send message</button>
          </div>
        </form>
      </article>
    {{ end }}

  </div>
{{ end }}
